{{!
 board.mustache, displays the contents of page N of the board

 template parameters:
 - board ( the model of the current page )
 - page ( the page number of the current page )
 
 board has the properties:
  - Prefix ( absolute path like //site.tld/ or /path/ )
  - Board ( the name of the board )
  - Navbar ( a function that renders the navbar, should not be escaped )
  - Threads ( a list of Thread Models with the last few replies )
}}
<!doctype html><html><head><link rel="stylesheet" href="/static/cards.css"><title>{{board.Board}}</title></head><body>
  {{{board.Navbar}}}
  <div>
    {{#board.Threads}}
    <div class="cards thread">
      <div class="card op">
        {{{OP.Truncate.RenderPost}}}
      </div>
      {{#Truncate.Replies}}
        <div class="card post">
          {{{Truncate.RenderPost}}}
        </div>
      {{/Truncate.Replies}}
    </div>
    {{/board.Threads}}
  </div>
  {{{form}}}
</body></html>
