<html><head><link rel="stylesheet" href="/static/cards.css"><title>try again</title></head><body>
  <form enctype="multipart/form-data" name="post" method="post" class="card">
    {{#attachment}}
      <input type="hidden" name="attachment_data" value="{{attachment}}">
      <input type="hidden" name="attachment_filename" value="{{attachment_filename}}">
      <input type="hidden" name="attachment_mime" value="{{attachment_type}}">
    {{/attachment}}
    <input type="hidden" name="reference" value="{{reference}}">
    <input type="hidden" name="name" value="{{name}}">
    <input type="hidden" name="subject" value="{{subject}}">
    <input type="hidden" name="captcha_id" value="{{captcha_id}}">
    <input type="hidden" name="message" value="{{message}}">
    <p class="head">retry posting.</p>
    <p class="text">{{fail_message}}</p>
    <input type="text" name="captcha" placeholder="captcha"><br>
    <input type="submit" value="Post" class="button"><br>
    <img id="captcha_img" src="{{prefix}}captcha/{{captcha_id}}.png" alt="captcha">
  </form>
</body></html>
