<div class="head" id="{{PostHash}}">
  <a title="{{MessageID}}">{{ShortHash}}</a>@{{Frontend}}
  {{Date}}
  <i>{{Subject}}</i>
  {{Name}}
  {{{Pubkey}}}
  <a href="{{PostURL}}">[select]</a>
  <a onclick="nntpchan_backlink('{{ShortHash}}');">[jsquote]</a>
</div>
<div class="body">
  {{{RenderBody}}}
</div>
{{#Attachments}}
  <a href="{{Source}}" title="{{Filename}}" target="_blank" class="file">
    {{Filename}}
  </a>
{{/Attachments}}
