<dt id="{{PostHash}}">
  <span title="{{MessageID}}">{{ShortHash}}</span>@{{Frontend}}
  {{Date}}
  <i>{{Subject}}</i>
  {{Name}}
  {{{Pubkey}}}
  <a href="{{PostURL}}">[select]</a>
  <a onclick="nntpchan_backlink('{{ShortHash}}');">[jsquote]</a> 
</dt>
<dd>
  {{{RenderBody}}}
  {{#Attachments}}
    file: <a href="{{Source}}" title="{{Filename}}" target="_blank" class="thumb">{{Filename}}</a><br><br>
  {{/Attachments}}
</dd>
