<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1">
<link rel="stylesheet" href="{{prefix}}static/chen7.css">
<title>{{frontend}} {{#i18n.Translations}}{{board_list_title}}{{/i18n.Translations}}</title>
{{{navbar}}}<hr><br>
<table><tr><th>{{#i18n.Translations}}{{board_label}}{{/i18n.Translations}}<th>{{#i18n.Translations}}{{pph_label}}{{/i18n.Translations}}<th>{{#i18n.Translations}}{{ppd_label}}{{/i18n.Translations}}<th>{{#i18n.Translations}}{{total}}{{/i18n.Translations}}{{#graph}}<tr><td><a href="{{prefix}}{{Board}}-0.html">{{Board}}</a><td>{{Hour}}<td>{{Day}}<td>{{All}}{{/graph}}</table>
<br><hr>{{{navbar}}}
