<!doctype html><meta charset="utf-8"><meta name="viewport" content="initial-scale=1">
<title>{{frontend}} on nntpchan</title>
<link rel="stylesheet" href="{{prefix}}static/chen7.css">
<div class="navbar">
{{{navbar}}}{{{!-- <a href="{{prefix}}static/faq.html">FAQ</a>--}}}
</div>
<div class="frontpage_fug">le ebin bepis meem</div>
<div class="threads">
<div class="thread">
  <div class="header">
    some other nntpchan servers
  </div>
  <div class="body">
    <a href="https://2hu-ch.org">2hu-ch.org</a><br>
    <a href="https://gchan.xyz/">gchan.xyz</a> (out of sync, post if no longer)<br>
    <a href="http://ucavviu6wl6azuw7.onion">ucavviu7wl6azuw7.onion</a><br>
    <a href="http://oniichanylo2tsi4.onion">oniichanylo2tsi4.onion</a><br>
    <a href="http://ev7fnjzjdbtu3miq.onion">ev7fnjzjdbtu3miq.onion</a><br>
    <a href="http://f2bksxtwzmst2dhx.onion">f2bksxtwzmst2dhx.onion</a><br>
    <a href="http://yqfbo7ghmwzotrml.onion">yqfbo7ghmwzotrml.onion</a><br>
    <a href="http://emvykufthqjgudpldo7tj26j57z4q2b6at6vmrfo6jxnvozmultq.b32.i2p">emvykufthqjgudpldo7tj26j57z4q2b6at6vmrfo6jxnvozmultq.b32.i2p</a><br>
    <a href="http://g7c54d4b7yva4ktpbaabqeu2yx6axalh4gevb44afpbwm23xuuya.b32.i2p">g7c54d4b7yva4ktpbaabqeu2yx6axalh4gevb44afpbwm23xuuya.b32.i2p</a><br>
    <br>
   another server list: <a href="http://7xnxdzyzegpsqus4.onion/nodes.html">7xnxdzyzegpsqus4.onion/nodes.html</a><br>
    <br>
    intro to nntpchan and yet another server list: <a href="https://nntpchan.info/">nntpchan.info</a><br>
  </div>
</div>
<div class="thread">
<div class="header">
source code
</div>
<div class="body">
- the website: <a href="https://github.com/majestrate/nntpchan/">github</a>, <a href="https://gitgud.io/uguu/nntpchan">gitgud</a>(out of date as of 2016-10-24), <a href="http://git.psii2pdloxelodts.onion/psi/nntpchan">git.psi.i2p on tor</a><br>
- the daemon: <a href="https://github.com/majestrate/srndv2/">github</a>, <a href="http://git.psii2pdloxelodts.onion/psi/srndv2">git.psi.i2p on tor</a><br>
- the template used on this node: <a href="https://github.com/chen-chan/nntpchan/tree/master/contrib/templates/chen6">github</a><br>
</div>
</div>
{{{postsgraph}}}
<div class="thread"><div class="header"></div><div class="body">
nntpchan (previously known as overchan) is a decentralized imageboard that uses the NNTP protocol to synchronize content between many different servers. it utilizes cryptographically signed posts to perform optional/opt-in decentralized moderation.
</div></div>
<div class="thread"><div class="header"></div><div class="body">
if you want your post seen across all of nntpchan, don't put files in it. if you post files from this server, it's very likely the entire post won't show up on clearnet servers because they fear the CP (not that CP won't be nuked here or anything). currently, most tor&amp;i2p nodes allow files between each other.
</div></div>
<div class="thread"><div class="header">captcha tip</div><div class="body">
you know a captcha on a page is long expired but you don't want to refresh the page? click on the captcha or go to <a href="{{prefix}}/captcha/img" target="_blank">/captcha/img</a>, and enter that one instead. it will be accepted even if it's not the same as the one on the page.
</div></div>
<div class="thread"><div class="header">ukko tip</div><div class="body">
overboard actually does have pages. edit the page number from the address bar. eg: ukko-1.html, ukko-2.html...
</div></div>
<div class="thread"><div class="header">max file size</div><div class="body">
here it's 8M. can be different on other servers. it's limited by the web server config. be aware it will be fucking slow to upload 8M on darknets.
</div></div>
<div class="thread">
  <div class="header">contact</div>
  <div class="body">
    open a thread i guess. for peering see <a href="{{prefix}}static/peering.txt">here</a>.<br>
    tripcode: aa39e9a663d6dce68bbea4d79e52056ac3db42e2e03af250248c60984927b397</pre><br>
  </div>
</div>

</div> <!-- threads -->
<div class="navbar">{{{navbar}}}{{{!-- <a href="{{prefix}}static/faq.html">FAQ</a>--}}}</div>

