<!doctype html><meta charset="utf-8"><meta name="viewport" content="initial-scale=1">
<style>body{font-family:monospace;overflow-wrap:break-word}</style>
<title>post success</title>
<meta http-equiv="refresh" content="4; {{redirect_url}}">
{{#i18n.Translations}}{{posted_as_label}}{{/i18n.Translations}} {{message_id}}