<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1">
<title>{{#i18n.Translations}}{{overboard_title}}{{/i18n.Translations}}</title>
<link rel="stylesheet" href="{{prefix}}static/chen7.css">
<div class="navbar">{{{navbar}}}
  {{#prev}}<a href="{{prefix}}o/{{no}}/">previous</a>{{/prev}}
  {{#next}}<a href="{{prefix}}o/{{no}}/">next</a>{{/next}}
</div>
<div class="threads">
{{#threads}}
  <div class="thread">
    <div class="header">
      {{#i18n.Translations}}{{posted_on_label}}{{/i18n.Translations}} 
      <a href="{{{BoardURL}}}">{{OP.Board}}</a>.
      {{MissingPostCount}} posts, {{MissingImageCount}} images hidden.
    </div>
  {{{OP.Truncate.RenderPost}}}
  {{#Truncate.Replies}}{{{Truncate.RenderPost}}}{{/Truncate.Replies}}
  </div>
{{/threads}}
</div>
<div class="navbar">{{{navbar}}}
  {{#prev}}<a href="{{prefix}}o/{{no}}/">previous</a>{{/prev}}
  {{#next}}<a href="{{prefix}}o/{{no}}/">next</a>{{/next}}
</div>

