body{font-family:monospace;max-width:82ch;word-wrap:break-word;}

.thread{border:solid 0.5ch lightgray;margin:0 0 1em 0;}
.post{padding:0.5ch;}
.post:not(:first-child){border-top:solid 0.5ch lightgray;}

.head{opacity:0.5;font-size:small;}
.head>label{word-break:break-all;}
.head>span[title]{font-size:medium;}
.body{margin:1em 0 1em 0;}
.file{margin:0 0 1em 0;}

.memearrows{color:green;}
pre{margin: 0 0 0 0;white-space:pre-wrap;}
div.post>div.body br:last-child, div.post>div.body br:nth-last-child(2){display:none;}

table,th,td{border:solid 0.5ch lightgray;}
table{border-collapse:collapse;}

form *{width:100%;box-sizing:border-box;}