body{background:#fff;color:#000;font-family:monospace;overflow-wrap:break-word;margin:0}
.thread{background:#fdb;color:#000;margin:1em 1ch 1em 1ch; border: solid 1px #864}
a{color:#000}
.memearrows{color:#680}
.header{background:#db9}
.body,.attachments{padding: 0 0 0 1ch} 
pre{margin:0}
table{border-collapse:collapse}
td,th{border:1px solid gray}
.attachment{max-height:8em;max-width:32ch;border:solid 0.25em #862}
pre{white-space:pre-wrap}

.boardlist{padding:1ch}
.reply form{padding:1ch 1ch 0 1ch}
.reply *{box-sizing: border-box}
.reply textarea{width:100%}
.reply img[alt="captcha"]{max-height:8em}

.catalog>*{display:inline-block;max-width:40ch;vertical-align:top}

