body{font-family:monospace;max-width:82ch;word-wrap:break-word;margin:0.25ch}
.thread{border:solid 0.5ch #ccc;margin:0 0 1em}
.head{background:#ccc}
.head>span{display:none}
.head>input:checked~span{display:inline}
.body,.file{padding:0.5ch}
.memearrows{color:green}
pre{margin:0;white-space:pre-wrap}
.post>.body br:last-child,.post>.body br:nth-last-child(2){display:none}
form *{width:100%;box-sizing:border-box}
table,th,td{border:solid 0.5ch #ccc}
table{border-collapse:collapse}