<!doctype html><html><head>
  <meta name="viewport" content="initial-scale=1">
  <title>{{#i18n.Translations}}{{catalog_title}}{{/i18n.Translations}} {{board.Name}}</title>
</head>
{{{board.Navbar}}}
<div class="board_header">{{#i18n.Translations}}{{catalog_title}}{{/i18n.Translations}} {{board.Name}}</div>
    <!-- postform -->
    <hr />
    <div id="catalog_container">
      {{#board.Threads}}
        <div class="catalog_thread">
          <a class="linkThumb" href="{{OP.PostURL}}"><img src="{{OP.RepresentativeThumb}}"></a>
          <div class="catalog_header">{{#i18n.Translations}}{{replies_short_label}}{{/i18n.Translations}}: {{ReplyCount}} / {{#i18n.Translations}}{{pictures_short_label}}{{/i18n.Translations}}: {{Page}}</div>
          <div class="catalog_subject">{{OP.Subject}}</div>
          <div class="catalog_body">
            {{{OP.RenderBody}}}
          </div>
        </div>
      {{/board.Threads}}
    </div>
