{{!
  frontpage.mustache -- template for index.html
  template parameters:
  - boardgraph ( markup of boardPageRows instance, see srnd/model.go )
  - postgraph ( markup of postsGraph instance , see srnd/model.go )
  - overview ( markup of overviewModel instance , see srnd/model.go )
  - totalposts ( the number of total posts we have ever seen )
  - frontend ( the name of the frontend )
  - prefix ( the site's prefix )
}}
<!doctype html><html><head>
  <title>{{frontend}} on nntpchan</title>
  <meta name="viewport" content="initial-scale=1">
</head>
{{{navbar}}} | <a href="{{prefix}}static/faq.html">FAQ</a><br>
{{frontend}} on nntpchan<br>
<br>
{{{postsgraph}}}<br>
IRC: rizon.net#nntpchan and irc2p#overchan<br>
URC: allyour4nert7pkh.onion#overchan<br>
source: <a href="https://github.com/majestrate/nntpchan/">frontend</a> and <a href="https://github.com/majestrate/srndv2/">core</a><br>
<br>
if you post files from this node, it's very likely that the entire post won't show up on other clearnet nodes because they fear the CP. (not that CP won't be nuked here or anything) <b>if you want your post seen across all of nntpchan, don't put files in it.</b>
