{{!
 navbar.mustache -- element on the top of each nod-mod page

 TODO: make this not suck, have a board list, have board page list
 
 template parameters:
 - name ( the name of whatever resource we are on, board/thread )
 - frontend ( the name of the frontend we are on )
 - links ( a list of Link Models to display )
 - prefix ( site prefix )
 }}
{{name}} {{#i18n.Translations}}{{navbar_on}}{{/i18n.Translations}} {{frontend}}
|
Pages:
{{#links}}<a href="{{LinkURL}}">{{Text}}</a>{{/links}}
|
<a href="{{prefix}}">{{#i18n.Translations}}{{front_page_title}}{{/i18n.Translations}}</a>
|
<a href="{{prefix}}ukko.html">{{#i18n.Translations}}{{overboard_title}}{{/i18n.Translations}}</a>
|
