<div id="{{post.PostHash}}" class="{{post.CSSClass}}">
  <b>{{post.ShortHash}}</b>
  {{post.Subject}}
  <small>
    <a href="{{post.PostURL}}">{{post.DateRFC}}</a>{{!-- post.Date available too --}}
    {{post.MessageID}}
    {{post.Name}}
    {{{post.Pubkey}}}
  </small><br>
  {{{post.RenderBody}}}
  <div>
    {{#post.Attachments}}  
    <a class="file" href="{{Source}}" title="{{Filename}}" target="_blank"><img src="{{Thumbnail}}" alt="{{Filename}}" class="thumbnail"></a>
    {{/post.Attachments}}
  </div>
</div>
<br>
