{{!
 thread.mustache -- renders to a thread-*.html page, shows the entire thread
 template parameters:
 - board ( the Board Model of the board this thread was posted in )
 - thread ( the Thread Model of the current thread being rendered )
 
 Thread Model attributes:
 - OP , the Post Model of the original poster
 - Replies , a list of all the replies or empty if none
 - Board , the name of the Board this thread is on
 - BoardURL , the url that points to the board index page
}}
<!doctype html><html><head>
  <title>{{thread.OP.Subject}}</title>
  <meta name="viewport" content="initial-scale=1">
</head>
{{{thread.Navbar}}}
{{{form}}}
<hr>
{{{thread.OP.RenderPost}}}
{{#thread.Replies}}
  {{{RenderPost}}}
{{/thread.Replies}}
<hr>
[<a href="{{thread.Prefix}}catalog-{{thread.Board}}.html" accesskey="c">{{#i18n.Translations}}{{catalog_label}}{{/i18n.Translations}}</a>]
[<a href="#thread_{{thread.OP.PostHash}}">{{#i18n.Translations}}{{to_top_label}}{{/i18n.Translations}}</a>]
[<a href="#navlinks" accesskey="r" onclick="location.reload();">{{#i18n.Translations}}{{update}}{{/i18n.Translations}}</a>]
