<!doctype html><meta charset="utf-8"><meta name="viewport" content="initial-scale=1"><style>body{max-width:80ch;white-space:pre-wrap;word-break:break-word;font-family:monospace}*{max-width:100%}img{max-height:16ch}</style><title>{{#i18n.Translations}}{{catalog_title}}{{/i18n.Translations}} {{board.Name}}</title>
{{{board.Navbar}}}

{{#board.Threads}}
{{#i18n.Translations}}{{replies_short_label}}{{/i18n.Translations}}: {{ReplyCount}} {{#i18n.Translations}}{{pictures_short_label}}{{/i18n.Translations}}: {{Page}} Subject: {{OP.Subject}}{{{OP.RenderBody}}}
<a class="linkThumb" href="{{OP.PostURL}}"><img src="{{OP.RepresentativeThumb}}" alt="OP thumb"></a>
{{/board.Threads}}
