<b id="{{post.PostHash}}">{{post.ShortHash}}</b> {{post.Subject}} <a href="{{post.PostURL}}">{{post.DateRFC}}</a> {{post.Name}} {{{post.Pubkey}}} {{post.MessageID}}
{{{post.RenderBody}}}{{#post.Attachments}}<a class="file" href="{{Source}}" title="{{Filename}}" target="_blank"><img src="{{Thumbnail}}" alt="{{Filename}}"></a> {{/post.Attachments}}
