{{!--
  ukko.mustache -- overboard, contains the last threads posted regardless of newsgroup
  template parameters:
  - prefix ( site prefix )
  - threads ( a list of Thread Models that represent the latest threads )
--}}<!doctype html><meta charset="utf-8"><meta name="viewport" content="initial-scale=1"><style>body{max-width:80ch;white-space:pre-wrap;word-break:break-word;font-family:monospace}*{max-width:100%}</style>
<title>{{#i18n.Translations}}{{overboard_title}}{{/i18n.Translations}}</title>
{{{navbar}}}

{{#threads}}<hr>{{#i18n.Translations}}{{posted_on_label}}{{/i18n.Translations}} <a href="{{{BoardURL}}}"><span class="ukko_boardname">{{OP.Board}}</span></a>
{{{OP.Truncate.RenderPost}}}{{#Truncate.Replies}}{{{Truncate.RenderPost}}}{{/Truncate.Replies}}{{/threads}}