{{!
 double bracket things:
  - PostHash
  - MessageID
  - ShortHash
  - Date
  - Name
  - Subject
  - Pubkey
  - #Attachements
    - Filename
    - Source
    - Thumbnail
  - #IsI2P
  - #IsTor
  - #IsClearnet
  - #Sage (both # and ^)

 triple bracket things:
  - RenderBody
}}
<dt id="{{PostHash}}">
  <a title="{{MessageID}}"><b>{{ShortHash}}</b></a>
  {{Date}}
  {{#IsI2P}}i2p{{/IsI2P}}
  {{#IsTor}}tor{{/IsTor}}
  {{#IsClearnet}}clr{{/IsClearnet}}
  {{Name}}
  {{Subject}}
  <a href="{{PostURL}}">[reply]</a>
  {{{Pubkey}}}
</dt>
<dd>{{{RenderBody}}}</dd>
