{{!
  ukko.mustache -- overboard, contains the last threads posted regardless of newsgroup
  template parameters:
  - prefix ( site prefix )
  - threads ( a list of Thread Models that represent the latest threads )
}}
<html><head><meta charset="utf-8"><title>ukko</title></head><body>
{{#threads}}
 <b>from <a href="{{{BoardURL}}}">{{OP.Board}}</a></b>
 {{{OP.Truncate.RenderPost}}}
 {{#Truncate.Replies}}
   {{{Truncate.RenderPost}}}
 {{/Truncate.Replies}}
 <hr>
{{/threads}}
</body></html>
