{{!
 board.mustache, displays the contents of page N of the board

 template parameters:
 - board ( the model of the current page )
 - page ( the page number of the current page )
 
 board has the properties:
  - Prefix ( absolute path like //site.tld/ or /path/ )
  - Board ( the name of the board )
  - Navbar ( a function that renders the navbar, should not be escaped )
  - Threads ( a list of Thread Models with the last few replies )
}}
<!doctype html><html><head><link rel="stylesheet" href="{{prefix}}static/chenchan2.css"><title>{{board.Board}}</title><meta name="viewport" content="initial-scale=1.0"></head><body>
  {{{board.Navbar}}}
  <div class="threads">
    {{#board.Threads}}
      <div class="thread">
        <div class="post">
          {{{OP.Truncate.RenderPost}}}
        </div>
        {{#Truncate.Replies}}
          <div class="post">
            {{{Truncate.RenderPost}}}
          </div>
        {{/Truncate.Replies}}
      </div>
    {{/board.Threads}}
  </div>
  {{{form}}}
</body></html>
