{{!
  frontpage.mustache -- template for index.html
  template parameters:
  - boardgraph ( a boardPageRows instance, see srnd/model.go )
  - postgraph ( a postsGraph instance , see srnd/model.go )
  - overview ( an overviewModel instance, see srnd/model.go )
  - totalposts ( the number of total posts we have ever seen )
  - frontend ( the name of the frontend )
  - prefix ( the site's prefix )
}}
<!doctype html><html><head><link rel="stylesheet" href="{{prefix}}static/chenchan2.css"><title>{{frontend}} on nntpchan</title><meta name="viewport" content="initial-scale=1.0"></head><body>{{frontend}} on nntpchan<br><br>[ <a href="ukko.html">overboard</a> | <a href="{{prefix}}boards.html">boards</a> | <a href="{{prefix}}static/chenchan2-faq.html">faq</a> ]<br><br>last posts:<br>{{{overview.Render}}}<br>board stats:<br><table><tr><th>board</th><th>this hour</th><th>today</th><th>total</th></tr>{{#boardgraph}}<tr><td><a href="{{prefix}}{{Board}}-0.html">{{Board}}</a></td><td>{{Hour}}</td><td>{{Day}}</td><td>{{All}}</td></tr>{{/ boardgraph}}</table><br>total stats:<br>{{{postsgraph.Render}}}<br>{{totalposts}} posts total since 2015-12-23</body></html>
