<div class="head" id="{{PostHash}}">
  <span title="{{MessageID}}">{{ShortHash}}</span>@{{Frontend}}
  {{Date}}
  <i>{{Subject}}</i>
  {{Name}}
  {{{Pubkey}}}
  <a href="{{PostURL}}">[select]</a>
  <a onclick="nntpchan_backlink('{{ShortHash}}');">[jsquote]</a> 
</div>
<div class="body">
  {{{RenderBody}}}
</div>
{{#Attachments}}
  <div class="file"><a href="{{Source}}" target="_blank">file</a>:&nbsp{{Filename}}</div>
{{/Attachments}}
