<div class="head" id="{{PostHash}}">
  {{ShortHash}}
  <a href="{{PostURL}}">[s]</a>
  <a onclick="nntpchan_backlink('{{ShortHash}}');">[q]</a>
  <input type="checkbox">
  <span>
    {{PostHash}}
    {{MessageID}}
    {{Date}}
    <b>{{Subject}}</b>
    {{Name}}
    {{{Pubkey}}}
  </span>
</div>
<div class="body">
  {{{RenderBody}}}
</div>
{{#Attachments}}
  <div class="file"><a href="{{Source}}" target="_blank">file</a>:&nbsp{{Filename}}</div>
{{/Attachments}}
