<html><head><link rel="stylesheet" href="{{prefix}}static/chenchan2.css"><title>try again</title><meta name="viewport" content="initial-scale=1.0"></head><body>
  <form enctype="multipart/form-data" name="post" method="post">
    {{#attachment}}
      <input type="hidden" name="attachment_data" value="{{attachment}}">
      <input type="hidden" name="attachment_filename" value="{{attachment_filename}}">
      <input type="hidden" name="attachment_mime" value="{{attachment_type}}">
    {{/attachment}}
    <input type="hidden" name="reference" value="{{reference}}">
    <input type="hidden" name="name" value="{{name}}">
    <input type="hidden" name="subject" value="{{subject}}">
    <input type="hidden" name="captcha_id" value="{{captcha_id}}">
    <input type="hidden" name="message" value="{{message}}">
    <p>post retry:</p>
    <p>{{fail_message}}</p>
    <input type="text" name="captcha" placeholder="captcha">
    <input type="submit" value="Post" class="button">
    <img id="captcha_img" src="{{prefix}}captcha/{{captcha_id}}.png" alt="captcha">
  </form>
</body></html>
