{{!
  ukko.mustache -- overboard, contains the last threads posted regardless of newsgroup
  template parameters:
  - prefix ( site prefix )
  - threads ( a list of Thread Models that represent the latest threads )
}}
<!doctype html><html><head><link rel="stylesheet" href="{{prefix}}static/chenchan2.css"><title>ukko/overboard</title><meta name="viewport" content="initial-scale=1.0"></head><body>
  <a href="/">[frontpage]</a><br><br>
  <div class="threads">
    {{#threads}}
      <div class="thread">
        <div class="post">
          <div class="head">posted on <a href="{{{BoardURL}}}">{{OP.Board}}</a></div>
          {{{OP.Truncate.RenderPost}}}
        </div>
        {{#Truncate.Replies}}
          <div class="post">
            {{{Truncate.RenderPost}}}
          </div>
        {{/Truncate.Replies}}
      </div>
    {{/threads}}
  </div>
</body></html>
