<!doctype html><meta charset="utf-8"><meta name="viewport" content="initial-scale=1">
<title>{{frontend}} on nntpchan</title>
<style>body{font-family:monospace;overflow-wrap:break-word}pre{margin:0;padding:0;white-space:pre-wrap}table{border-collapse:collapse}td,th{border:1px solid #999}</style>
{{{navbar}}}{{{!-- <a href="{{prefix}}static/faq.html">FAQ</a>--}}}<hr>
<pre>

{{frontend}} on nntpchan

some other nntpchan servers: (<a href="http://7xnxdzyzegpsqus4.onion/nodes.html">another server list</a>)
<a href="https://2hu-ch.org">2hu-ch.org</a>
<a href="https://gchan.xyz/">gchan.xyz</a> (out of sync, post if no longer)
<a href="http://ucavviu6wl6azuw7.onion">ucavviu7wl6azuw7.onion</a>
<a href="http://oniichanylo2tsi4.onion">oniichanylo2tsi4.onion</a>
<a href="http://ev7fnjzjdbtu3miq.onion">ev7fnjzjdbtu3miq.onion</a>
<a href="http://f2bksxtwzmst2dhx.onion">f2bksxtwzmst2dhx.onion</a>
<a href="http://yqfbo7ghmwzotrml.onion">yqfbo7ghmwzotrml.onion</a>
<a href="http://emvykufthqjgudpldo7tj26j57z4q2b6at6vmrfo6jxnvozmultq.b32.i2p">emvykufthqjgudpldo7tj26j57z4q2b6at6vmrfo6jxnvozmultq.b32.i2p</a>
<a href="http://g7c54d4b7yva4ktpbaabqeu2yx6axalh4gevb44afpbwm23xuuya.b32.i2p">g7c54d4b7yva4ktpbaabqeu2yx6axalh4gevb44afpbwm23xuuya.b32.i2p</a>

intro to nntpchan and yet another server list: <a href="https://nntpchan.info/">nntpchan.info</a>

source code:
- the website: <a href="https://github.com/majestrate/nntpchan/">github</a>, <a href="https://gitgud.io/uguu/nntpchan">gitgud</a>(out of date as of 2016-10-24), <a href="http://git.psii2pdloxelodts.onion/psi/nntpchan">git.psi.i2p on tor</a>
- the daemon: <a href="https://github.com/majestrate/srndv2/">github</a>, <a href="http://git.psii2pdloxelodts.onion/psi/srndv2">git.psi.i2p on tor</a>
- the template used on this node: <a href="https://github.com/chen-chan/nntpchan/tree/master/contrib/templates/chen6">github</a>

</pre>{{{postsgraph}}}<pre>

nntpchan (previously known as overchan) is a decentralized imageboard that uses the NNTP protocol to synchronize content between many different servers. it utilizes cryptographically signed posts to perform optional/opt-in decentralized moderation.
  
if you want your post seen across all of nntpchan, don't put files in it. if you post files from this server, it's very likely the entire post won't show up on clearnet servers because they fear the CP (not that CP won't be nuked here or anything). currently, most tor&amp;i2p nodes allow files between each other.

captcha tip: you know a captcha on a page is long expired but you don't want to refresh the page? click on the captcha or go to <a href="{{prefix}}/captcha/img" target="_blank">/captcha/img</a>, and enter that one instead. it will be accepted even if it's not the same as the one on the page.

ukko tip: overboard actually does have pages. edit the page number from the address bar. eg: ukko-1.html, ukko-2.html...

max file size here is 8M. can be different on other servers. be aware it will be fucking slow to upload 8M here.

contact: open a thread i guess. for peering see <a href="{{prefix}}static/peering.txt">here</a>.
tripcode: aa39e9a663d6dce68bbea4d79e52056ac3db42e2e03af250248c60984927b397</pre>
