<!doctype html><meta charset="utf-8"><meta name="viewport" content="initial-scale=1">
<style>body{font-family:monospace;overflow-wrap:break-word}</style>
<title>{{#i18n.Translations}}{{new_tripcode_title}}{{/i18n.Translations}}</title>
{{#i18n.Translations}}{{new_tripcode_label}}{{/i18n.Translations}}
<br>
<br>{{#i18n.Translations}}{{secret_key}}{{/i18n.Translations}}: {{secret}}
<br>{{#i18n.Translations}}{{public_key}}{{/i18n.Translations}}: {{public}}
<br>{{#i18n.Translations}}{{tripcode}}{{/i18n.Translations}}: {{{tripcode}}}