{{!
 board.mustache, displays the contents of page N of the board

 template parameters:
 - board ( the model of the current page )
 - page ( the page number of the current page )
 
 board has the properties:
  - Prefix ( absolute path like //site.tld/ or /path/ )
  - Board ( the name of the board )
  - Navbar ( a function that renders the navbar, should not be escaped )
  - Threads ( a list of Thread Models with the last few replies )
}}
<!doctype html>
<title>{{board.Board}}</title>
<meta name="viewport" content="initial-scale=1">
<link rel="stylesheet" href="{{board.Prefix}}static/site.css">
<link id="current_theme" rel="stylesheet" href="{{board.Prefix}}static/user.css" />
<script type="text/javascript" src="{{board.Prefix}}static/nntpchan.js"></script>
<body>
  {{{board.Navbar}}}
  <a href="{{board.Prefix}}catalog-{{board.Name}}.html">
    {{#i18n.Translations}}{{catalog_label}}{{/i18n.Translations}}
  </a>
  {{#board.Threads}}
    <div class="thread" id="thread_{{OP.PostHash}}">
      {{{OP.Truncate.RenderPost}}}
      {{#Truncate.Replies}}
        {{{Truncate.RenderPost}}}
      {{/Truncate.Replies}}
      <hr>
    </div>
  {{/board.Threads}}
  <div class="pagelist">{{# board.PageList }}[<a href="{{LinkURL}}"> {{Text}} </a>]  {{/ board.PageList }}
    <span class="navbar-sep">
      |
    </span>
    <a href="{{board.Prefix}}catalog-{{board.Name}}.html"> {{#i18n.Translations}}{{catalog_label}}{{/i18n.Translations}} </a>
  </div>
  <hr>
  {{{form}}}
